$break-med:  700px;
$break-large: 1100px;


h2 {
	color: white;
	font-size: 1.8em;
	font-family: Helvetica;
	height: 70px;
	max-width: 300px;
	margin: 20px 0;
	@media screen and (max-width: $break-large) {
		max-width: 500px;
		text-align: center;

	}
}

.cell p{
	font-size: 1.2em;
	color: white;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	line-height: 1.2em;
	@media screen and (max-width: $break-large) {
		max-width: 500px;
		text-align: center;

	}
}
#accordion {

	max-width: 1200px;
	margin: 0px auto;
  	clear: both;
  	top: -200px;
	position: relative;
	height: 600px;
	background-color:white;
	border-radius: 3px;
	@media screen and (max-width: $break-large) {
		max-width: 600px;
		height: 100%;
		top: -50px;
	}

	@media screen and (max-width: $break-med) {
		max-width: 90%;
		height: 100%;
		top: -50px;
	}
}

#accordion a {
  display: inline-block;
  text-decoration: none;
	@media screen and (max-width: $break-large) {
		// pointer-events: none;
	}
	@media screen and (max-width: $break-med) {
		pointer-events: none;
	}

}



.cell {
	
	width: (1/3)*100%;
	height: 600px;
	float: left;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	/*-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;*/
	@media screen and (max-width: $break-large) {
		width: 100%;
		height: 650px;
		float: none;
		clear: both;
		display: block;
	}
	@media screen and (max-width: $break-med) {
		float: none;
		clear: both;
		display: block;
		width: 100%;
		height: 650px;
	}
	// @media screen and (max-width: $break-medium) {
	// 	width: 600px;
	// }

}

.active .focus {
	opacity: 1;
}

.cell:nth-child(1) {
	background-color: rgba(60, 104, 212, 0.8);
}

.cell:nth-child(1):hover {
	background-color: rgba(60, 104, 212, 1);
}

.cell:nth-child(2) {
	background-color: rgba(53, 94, 191, 0.8);
}
.cell:nth-child(2):hover {
	background-color: rgba(53, 94, 191, 1);
}

.cell:nth-child(3) {
	background-color: rgba(50, 85, 176, 0.8);
}
.cell:nth-child(3):hover {
	background-color: rgba(50, 85, 176, 1);
}

.cell p{
	overflow: hidden;
	visibility: hidden;
	width: 500px;
	@media screen and (max-width: $break-large) {
		width: 100%;
		visibility: visible;
		height: 100%;
	}

	@media screen and (max-width: $break-med) {
		width:100%;
		height: 100%;
		visibility: visible;
	}

}
#open{
	visibility: visible;
}
.cell.active {
	width: 50%;
	@media screen and (max-width: $break-large) {
		width: 600px;
		height: 650px;
		
	}
	@media screen and (max-width: $break-med) {
		width: 300px;
		height: 100%;
	}
}


.cell.inactive {
	width: 25%;
	@media screen and (max-width: $break-large) {
		width: 100%
	}

}

.cell.inactive p{
	display: none;
	@media screen and (max-width: $break-large) {
		display: block;
	}

}

.container {
	padding: 80px 20px 0 40px;
}

.icon{
	width: 100px;
	transition: all 0.5s ease-in-out;
	@media screen and (max-width: $break-large) {
		width: 200px;
		margin: 0 auto;
		display: block;
	}
	@media screen and (max-width: $break-med) {
		width: 200px;
	}
}
.cell.inactive img {
	width: 100px;
	@media screen and (max-width: $break-large) {
		width: 200px;
	}
	@media screen and (max-width: $break-med) {
		width: 200px;
	}

}
.icon.scale {
	width: 200px;
	
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;	
	-webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;

}

@keyframes slideUp {
	0% {
		transform: translateY(20%);
		opacity: 0;
	}
	20%{
		opacity: 0;
	}
	
	95%{
		transform: translateY(5%);
	

	}
				
	100% {
		transform: translateY(0%);
		opacity: 1;

	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(20%);
		opacity: 0;
	}

	20%{
		opacity: 0;
	}

	95%{
		-webkit-tranform: translateY(5%);
		

	}

	100% {
		-webkit-transform: translateY(0%);
		opacity: 1;
	}
}
